.Navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: #404040;
}

.Navigation li {
  display: inline-block;
  margin: 20px;
}

.Navigation a {
  text-decoration: none;
  color: white;
}

.Navigation a:hover,
.Navigation a:active {
  color: #fa923f;
}
